@font-face{
  font-family: Jim Nightshade;
  src: url(../public/JimNightshade-Regular.ttf);
}

@import "tailwindcss";

/* :root {
  background-color: #A0CCDA;
  font-family: Jim Nightshade;
} */

@theme {
  --color-matcha: #91FF9F;
  --color-jade: #1F9645;
  --color-blue-gray: #A0CCDA;
  --color-chinese-violet: #6D5A72;
  --color-ultra-violet: #474973;

  --font-jim-nightshade: Jim Nightshade, "sans-serif";
}

body {
  @apply bg-gray-100 font-normal;
}

/* TODO: Incorporate a theme switcher */
/* .dark body {
  @apply bg-black text-blue-200;
} */

@layer components {
  .outer-page-div {
    @apply flex flex-col justify-center items-center space-y-12 mt-12;
  }
  .hero-page-div {
    @apply flex flex-col justify-center items-center;
  }
  .heading{
    @apply text-xl font-medium;
  }
  .page-heading {
    @apply text-3xl font-semibold;
  }
  .hover-primary{
    @apply cursor-pointer transition-all transform scale-100;
  }
  .hover-primary:hover {
    @apply scale-103 -translate-y-1 shadow-2xl;
  }
  .home-textbox {
    @apply border-2 rounded focus:outline focus:shadow-xl focus:-translate-y-1 focus:scale-101 w-full h-20 text-lg text-left pl-3 pr-3 bg-white overflow-hidden;
  }
  .input-field {
    @apply border-2 rounded py-2 mt-1 focus:outline focus:shadow-xl w-full px-3;
  }
  .emotion-analysis-heading {
    @apply text-xl font-medium;
  }

  .toggle-btn {
    @apply relative w-[50px] h-[28px] bg-gray-200 rounded-full border-gray-400 border-1 shadow-md cursor-pointer transition-colors duration-100 ease-in-out hover:border-gray-700;
  }

  .thumb {
    @apply absolute w-[20px] h-[20px] bg-gray-300 rounded-full border-gray-500 border-1 translate-y-0.75 translate-x-[2px] transition-all;
  }

  .toggle-btn.toggled {
    @apply bg-green-300;
  }
  
  .toggle-btn.toggled .thumb {
    @apply left-[25px];
  }

  .hero-steps-outer-div {
    @apply flex flex-col space-y-6 w-full py-12 rounded-xl shadow-md;
  }

  .hero-number-bg {
    @apply flex max-w-[16vw] min-h-[16vw] max-h-[16vw] md:max-w-[8vw] md:min-h-[8vw] md:max-h-[8vw] rounded-xl justify-center items-center ml-8 shadow-md;
  }

  .hero-number {
    @apply flex text-5xl text-white sm:text-3xl md:text-4xl;
  }

  .footer-column-div {
    @apply flex flex-col space-y-2;
  }

  .footer-column-header {
    @apply flex text-lg text-gray-100 font-medium;
  }

  .footer-column-contents {
    @apply flex text-sm text-gray-100 font-light hover:underline;
  }
}

/* For large display button */
/* TODO: MAKE THIS BIG AND SMOOTHER (also add color-responsive background components) */
@layer components {
  .toggle-btn-display {
    @apply relative w-[20vw] h-[10vw] bg-gray-200 rounded-full border-gray-400 border-1 shadow-md cursor-pointer transition-all duration-400 ease-in-out hover:border-gray-700;
  }

  .big-thumb {
    @apply absolute w-[8vw] h-[8vw] bg-gray-300 rounded-full border-gray-500 border-1 shadow-md -translate-y-[4vw] transition-transform;
    transform: translateX(1vw);
  }

  .toggle-btn-display.toggled {
    background: linear-gradient(45deg, var(--color-green-200), var(--color-green-400), var(--color-green-600));
  }
  
  .toggle-btn-display.toggled .big-thumb {
    @apply shadow-md border-1 border-gray-500;
    transform: translateX(10.75vw);
  }

  .about-icon {
    @apply text-jade transition-all transform hover:text-green-800 hover:scale-105 hover:-translate-y-1;
  }
}

@layer components {
  .name-underline {
    position: relative;
    right: 5px;
    width: 100px;
    height: 5px;
    background: linear-gradient(45deg, var(--color-green-300), var(--color-green-700));
    padding: auto;
    border-radius: 99px;
  }
}

@layer utilities {
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 30s linear infinite;
  }
}


.sign-up-button {
  @apply px-5 py-3 rounded-xl w-full border-2 border-sky-700 cursor-pointer z-0;
}

/* .sign-up-button::after {
  content: "";
  position: absolute;
  border-radius: 0.75rem;
  background-color: #333;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
} */

.sign-up-button::before {
  content: "";
  background: linear-gradient(45deg, #F1E3F3, #C2BBF0, #8FB8ED, #62BFED, #3590F3, #62BFED, #8FB8ED, #C2BBF0, #F1E3F3);
  background-size: 600% 100%;
  background-repeat: repeat;
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: -1;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  filter: blur(8px);
  animation: glowing 10s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 0.75rem;
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 120% 0;
  }
}

.photo-wrapper {
  @apply relative w-full max-w-[50vw] max-h-[50vw] md:max-w-[15vw] md:max-h-[15vw] aspect-square flex items-center justify-center;
}

.photo-wrapper::before {
  content: "";
  position: absolute;
  border-radius: 9999px;
  background: linear-gradient(to right, var(--color-green-500), var(--color-blue-500), var(--color-purple-500), var(--color-blue-500), var(--color-green-500));
  background-size: 600% 600%;
  background-repeat: repeat;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  filter: blur(8px);
  animation: glowing-profile 5s linear infinite;
  transition: opacity .3s ease-in-out;
  opacity: 1;
}

@keyframes glowing-profile {
  0% {
    background-position: 0 0;
    opacity: 0.3;
    filter: brightness(1.2), blur(4px);
  }
  50% {
    opacity: 1;
    filter: brightness(2), blur(8px);
  }
  100% {
    background-position: 100% 0;
    opacity: 0.3;
    filter: brightness(1.2), blur(4px);
  }
}

.about-photo {
  @apply flex w-full h-full object-cover rounded-full relative z-10;
}