@font-face{
  font-family: Jim Nightshade;
  src: url(../public/JimNightshade-Regular.ttf);
}

@import "tailwindcss";

/* :root {
  background-color: #A0CCDA;
  font-family: Jim Nightshade;
} */

@theme {
  --color-matcha: #91FF9F;
  --color-jade: #1F9645;
  --color-blue-gray: #A0CCDA;
  --color-chinese-violet: #6D5A72;
  --color-ultra-violet: #474973;

  --font-jim-nightshade: Jim Nightshade, "sans-serif";
}

body {
  @apply bg-gray-100 font-normal;
}

/* TODO: Incorporate a theme switcher */
/* .dark body {
  @apply bg-black text-blue-200;
} */

@layer components {
  .outer-page-div {
    @apply flex flex-col py-6 justify-center items-center space-y-12;
  }
  .heading{
    @apply text-xl font-medium;
  }
  .page-heading {
    @apply text-3xl font-semibold;
  }
  .hover-primary{
    @apply transition-all transform scale-100;
  }
  .hover-primary:hover {
    @apply scale-103 -translate-y-1;
  }
  .home-textbox {
    @apply border-2 rounded focus:outline focus:shadow-xl focus:-translate-y-1 focus:scale-101 w-full h-20 text-lg text-left pl-3 pr-3 bg-white overflow-hidden;
  }
  .input-field {
    @apply border-2 rounded py-2 mt-1 focus:outline focus:shadow-xl w-full px-3;
  }
  .emotion-analysis-heading {
    @apply text-xl font-medium;
  }
}